<h2>Edit Trip</h2>

<h3><%= @trip.name %></h3>

<form method="PATCH" action="/trips/<%= @trip.id %>">
  <label>Trip Name</label><input type="text" name="name" value="<%= @trip.name %>">
  <label>Year Visited</label><input type="text" name="year_visited" value="<%= @trip.year_visited %>" maxlength="4">
  <label> Description <input type="text" name="description"></label>
  <input type="submit" value="Update">
</form>


<a href='/trips/index'>See All Trips</a><br>
<a href='/trips/new'>Create New Trip</a><br>
<a href='/logout'>Log Out</a>
