<h2>Create New Trip</h2>

<form method="POST" action="/trips/index">
  <label> Trip Name <input type="text" name="name"></label>
  <label> Year Visited <input type="text" name="year_visited" maxlength="4"></label>
  <input type="submit" value="Create">
</form>


<a href='/trips/index'>See All Trips</a><br>
<a href='/logout'>Log Out</a>
