<h3>trips/show</h3>
<h3>SHOW INDIVIDUAL USER trip AND PROVIDE DELETE</h3>


<a href='/trips/index'>See All trips</a><br>
<a href='/trips/new'>Create New trip</a><br>
<a href='/trips/edit'>Edit trip</a><br>
<a href='/logout'>Log Out</a>
