<h2>Login</h2>

<form method="POST" action="/login">
	Username: <input type="text" name="username">
	Password: <input type="text" name="password">
	<input type="submit" value="Submit">
</form>
<br>
<h3><a href='/signup'>Sign Up</h3>
