<h3>Users / Show - ALL OF THIS USER'S tripS</h3>
<h2>All of <%= current_user.username %>'s Trips</h2>


<% current_user.trips.each do |trip| %>
  <a href="/trips/:id"><%= trip.name %></a>
<% end %>


<a href='/trips/index'>See All trips</a><br>
<a href='/trips/new'>Create New trip</a><br>
<a href='/logout'>Log Out</a>
