<h3>Users / Show - ALL OF THIS USER'S tripS</h3>
<h2>All of <%= current_user.username %>'s Trips</h2>


<% @user.trips.each do |trip| %>
  <%= trip.name %>
<% end %>


<a href='/trips/index'>See All trips</a><br>
<a href='/trips/new'>Create New trip</a><br>
<a href='/trips/edit'>Edit trip</a><br>
<a href='/logout'>Log Out</a>
