<h3>Users / Show</h3>
<h2>All of <%= current_user.username %>'s Locations</h2>






<a href='/locations/index'>See All Locations</a><br>
<a href='/locations/new'>Create New Location</a><br>
<a href='/locations/edit'>Edit Location</a><br>
<a href='/logout'>Log Out</a>
