<h2>All of <%= current_user.username %>'s Trips</h2>

<% current_user.trips.each do |trip| %>
  <ul>
    <li><a href="trips/<%= trip.id %>"><%= trip.name %></a></li>
  </ul>
<% end %>



<a href='/trips'>See All trips</a><br>
<a href='/trips/new'>Create New trip</a><br>
<a href='/logout'>Log Out</a>
