<nav>
  <% if logged_in? %>
    <h2>Hello, <%= current_user.username %>!</h2>
    <a href='/locations/show'>See All Locations</a><br>
    <a href='locations/new'>Create New Location</a><br>
    <a href='/logout'>Log Out</a>
  <% else %>
    <h2>Please Login or Sign Up</h2>
    <h3><a href='./users/login'>Login</a></h3>
    <h3><a href='/signup'>Sign Up</a></h3>
  <% end %>
</nav>
