<nav>
  <% if logged_in? %>
    <h2>Hello, <%= current_user.username %>!</h2>
    <h3>How would you like to proceed?</h3>
    <a href='/trips/index'>See All Trips</a><br>
    <a href='/show'>See My Trips</a><br>
    <a href='/trips/new'>Create New Trip</a><br>
    <a href='/logout'>Log Out</a>
  <% else %>
    <h2>Please Login or Sign Up</h2>
    <h3><a href='/login'>Login</a></h3>
    <h3><a href='/signup'>Sign Up</a></h3>

  <% end %>
</nav>
