<!DOCTYPE html>
<html>
  <head>
    <title>Traveled</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <h1>Welcome to Traveled!</h1>
    <%= yield %>
  </body>

</html>
