<h3>Locations/show</h3>
<h3>SHOW SPECIFIC LOCATION AND PROVIDE DELETE</h3>


<a href='/locations/index'>See All Locations</a><br>
<a href='/locations/new'>Create New Location</a><br>
<a href='/locations/edit'>Edit Location</a><br>
<a href='/logout'>Log Out</a>
